.MembersContainer {
  border-left: 2px solid lightgray;
  background-color: #f5f7fb;
  padding-top: 10px;
}
.chatfeed {
  background-color: white;
}
.membersList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}
.inputFieldContainer {
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: inherit;
}
